header{
	display: flex;
    flex-flow:column;
    box-shadow: 0px 2px 4px 0px;
    background:  #ff7200fa;
	position:fixed;
	top:0;
	width: 100%;
	z-index: 10;
}

nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 3% 0% 0% 0%;
 }


.nav-oferta{
	background: var(--color-primario);
	text-align: center;
	padding: 1%;
	color: #fff;
}


.nav-carrito{
	display: flex;
	align-items: center;
}


.hamburguesa, .logo, .nav-carrito{
   padding: 2%;
   color: #fff;
   cursor: pointer;
}


/*navegation */
.open {
	display: flex;
	flex-direction: column;
	position: absolute;
	height: 100vh;
	width: 90%;
	background: #fff;
    top: 0;
	z-index: 10;
	left: 0;
}


.open .close{
  z-index: 20;
	padding: 20px 20px 0px 20px;
}


.open ul{
	display: flex;
	align-items: space-between;
	flex-direction: column;
	padding: 20px;
}

.open ul li{
	border-bottom:1px solid #ccc;
	padding: 20px 10px;
}

.open ul li a{
  color: #6e6e6e;
}

.nav-query{
	display: none;
}
/*contador carrito*/

.cont-carrito{
	width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-carrito span{
	color: #fff;
}

/*Buscador*/
.buscador{
	padding: 0% 2% 2% 2%;
    width: 100%;
  }
  
  .buscador input,select{
	  padding: 1% 2%;
	  color: #000;
	}
  
  .buscador input{
	  width:100%;
	  border: none;
	  background: #fff;
  }


/*medida query*/

@media (min-width:600px){
	nav{
		height: 80px;
	}
	.hamburguesa{
		display: none;
	}
	.nav-query{
		display: block;
		width: 50%;
		padding: 8px;
	}
	.nav-query ul{
		display: flex;
		justify-content: space-between;
		margin: 0;
	}
}