
.carrousel-container{
    background: #fff;
}

.carrousel-container img{
	height: 400px;
	object-fit: contain;
}


.product-container{
   
   border: 1px solid #00000052;
   padding: 10px 10px;
}


.card-img{
	width: 100%;
	height: 180px;
  padding: 10px 0px;
	background: #fff;
	border-radius: 3px;
}

.card-img img{
	object-fit: contain;
  width: 100%;
  height: 100%;
}

.title{
	padding: 10px 0px;
}

/*carrito*/


.price-carrito-container{
	display: flex;
	justify-content: space-between;
}

.agregar-carrito{
	display: flex;
	align-items: center;
}



.ver-product{
	width: 100%;
	background: #ff7200fa;
    color: #fff;
    border-radius: 2px;
    border:none;
    padding: 4px 0px;
}

/*medida query*/

/*medida query celular*/
@media (max-width:600px){
	.carrousel-container{	
		margin: 11vh 0vh 0vh 0vh;
	}
}

/*medida query tablet*/
@media (min-width:600px){
	.carrousel-container{	
		margin: 24vh 0vh 0vh 0vh;
	}
}

/*medida query computadora*/
@media (min-width:1000px){
	.carrousel-container{	
		margin: 34vh 0vh 0vh 0vh;
	}
}