.info-product {
	padding: 10px;
	text-align: initial;
}

/*vista imagen*/
.view-container-img {
	background: #fff;
	padding: 20px 0px;
}

.view-card-img {
	height: 390px;
}

.view-card-img img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

/* Vista de titulo*/
.view-card-container-title {
	margin-bottom: 16px;
}

.view-title {
	margin: 0px;
	padding: 0px;
}

.view-title h1 {
	padding: var(--medida-18);
	color: var(--color-letra-secundario);
	font-size: var(--font-family-arial);
	font-weight: normal;
	letter-spacing: .6px;
	line-height: 24px;
	padding: 0px;
	margin: 0px;
}

/*para talle y color*/
.view-subtitle {
	font-size: var(--medida-12);
	font-family: var(--font-family-mulish);
	margin: 0px;
}

.delete {
	color: #da0a0afc;
	display: flex;
	justify-content: center;
}

/*price*/
.price-compra {
	margin: 12px 0px 0px 0px;
}

.price-compra span {
	font-size: var(--medida-18);
	font-weight: bold;
	color: var(--color-letra-primario);
}

/*color del producto*/
.view-container-color {
	display: flex;
}

.color-compra {
	border: none;
	display: flex;
}

.color-compra .color-compra-select {
	width: var(--medida-12);
	height: var(--medida-12);
	cursor: pointer;
	border-radius: 50%;
	margin-left: var(--medida-10);
}

.color-compra-select:hover {
	opacity: 0.5;
	border: 2px solid #000;
}

/*talle */
.view-container-talle {
	display: flex;
	align-items: baseline;
	margin-top: var(--medida-18);
}

.talle {
	margin-left: var(--medida-12);
	width: 50%;
}

/*icono de cantidad*/

.compra-container {
	display: flex;
	align-items: center;
	margin-top: var(--medida-18);
}


.compra-container input {
	width: 40px;
	text-align: center;
}

.carrito-agregar {
	margin-top: var(--medida-18);
}

/* informacion envio gratis*/
.view-container-info-envio {
	display: flex;
	align-items: center;
	margin-top: var(--medida-18);
}

.info-envio-icono i {
	font-size: var(--medida-18);
	font-weight: 600;
	color: var(--color-letra-primario);
}

.info-envio {
	font-family: var(--font-family-arial);
	font-size: var(--medida-12);
	font-weight: 400;
	color: var(--color-letra-secundario);
	margin-left: 20px;
}

/*informacion general*/
.view-container-info {
	margin-top: var(--medida-18);
}

.info-producto {
	font-size: var(--medida-10);
	font-family: var(--font-family-mulish);
	margin-top: var(--medida-10);
    color:var(--color-letra-primario);
}

.info-producto span{
	font-size: var(--medida-10);
	color: var(--color-letra-secundario);
}

/*position absolute*/

.vista {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	z-index: 100;
	background: #fff;
	overflow: auto;
}

/* cerrar */
.close {
	width: 100%;
	display: flex;
	justify-content: end;
	padding: 10px 15px;
}

.close a {
	width: 30px;
	height: 20px;
}