:root{
   --color-primario:#ff7200fa;
   --color-secundario:#edeaea;
   --color-letra-primario: #333;
   --color-letra-secundario: #757575;
   --font-family-mulish:mulish, sans-serif;
   --font-family-arial:arial, sans-serif;
   --medida-8: 8px;
   --medida-10: 10px;
   --medida-12: 12px;
   --medida-14: 14px;
   --medida-16: 16px;
   --medida-18: 18px;
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background: var(--color-secundario);
}

ul{
	list-style: none;
    padding: 0px;
}

a{
	text-decoration: none;
}


.off{
	display: none;
}